<div class="p-3 mb-2 bg-transparent text-dark">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                <a class="nav-link active text-warning" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-warning" href="#">Blog</a>
                </li>
                <li class="nav-item">
                 <a class="nav-link text-warning" href="{% url 'myapp:comment' %}">Comment</a>
                </li>
            </ul>
        </div>